html,
body {
  width: 100%;
  height: 100%;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

/* Navigation  styles */

#mainNav {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar-toggler {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.nav-item {
  font-size: 18px;
  margin-left: 20px;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link:hover {
  color: #576f53;
}

#navbarResponsive {
  justify-content: flex-end;
}

/* Button Search styles*/

.btn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  font-size: 14px;
}

.btn.btn-primary {
  background: #1a374d;
  border-color: #1a374d;
}

.btn.btn-primary:hover {
  border-color: #576f53;
  background: #576f53;
}

.form {
  position: relative;
  border-radius: 10px;
  padding: 50px;
  background: white;
}

/* Hero Page styles*/

.hero {
  padding: 7rem 0 10rem 0;
  background: #576f53;
  margin-bottom: 20px;
  width: 100%;
}

.hero h1 {
  color: #ffffff;
  font-size: 40px;
}

.hero .intro-wrap {
  position: relative;
  z-index: 1;
}

.hero .slides {
  max-width: 800px;
  z-index: 0;
  position: relative;
  border-radius: 150px;
  height: 608px;
  margin-bottom: -100px;
}

.hero .slides img {
  position: absolute;
  border-radius: 200px;
  height: 100%;
  width: 100%;
  opacity: 0;
  -o-transition: 4s opacity ease;
  transition: 4s opacity ease;
}

.hero .slides img.active {
  opacity: 1;
  z-index: 1;
}

/* Travel Blog section */

.content {
  padding: 70px;
}

.sectionHeading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.showsNear {
  padding: 0px 30px 30px 30px;
}

.cardContainer {
  text-align: center;
}

/* Booking.com styles */

.hotel {
  width: 90% !important;
}

.hotel-img {
  height: 200px;
  width: 200px;
  aspect-ratio: auto;
  overflow-clip-margin: content-box;
  overflow: clip;
  object-fit: cover;
}

.ts-leaf {
  height: 16px;
}

.sus-rating {
  height: 25px;
}

.room-desc {
  margin-top: 20px;
}

.title {
  color: #000;
}

/* Map styles for Trail Search */

.map-container {
  display: flex;
  width: 100%;
  background-color: white;
  height: 50%;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Cards styles for Trail Search results*/

.searchResults {
  display: flex;
  justify-content: center;
  background-color: rgba(253, 252, 252, 0.441);
  margin: 0;
}

.cards {
  margin: 2em;
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 10px grey;
  transition: all 300ms ease-in-out;
}

.cards:hover {
  box-shadow: 0px 20px 50px;
}

p {
  position: relative;
  color: black;
  font-size: 15px;
  padding: 0 15px;
}

.card-img-top {
  width: 100%;
  height: 25vw;
  margin-top: 1em;
  object-fit: cover;
}

.cta-section {
  background-size: cover;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  width: 100%;
  height: 80%;
  padding-bottom: 20px;
}

#details-button:hover {
  background-color: #576f53;
  color: white;
}

#mapsButton:hover {
  background-color: #576f53;
  color: white;
}

.progress {
  background-color: white;
}

/* styling for media queries */

@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
  }

  .nav-item {
    font-size: 16px;
    margin-left: 10px;
  }

  .hero .intro-wrap {
    text-align: center;
  }

  .hero .form {
    margin-top: 50px;
  }

  .hero .col-lg-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .slides {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar-brand {
    font-size: 1.5em;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .hero .intro-wrap {
    text-align: center;
  }

  .hero .form {
    width: 100%;
  }

  .hero .form .row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero .slides {
    display: none;
  }

}